.correct{
font-size: 30px;
padding: 15px;
}
.loading-circle {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  animation: spin 1s linear infinite;
  margin: 20px auto; /* Centering the loader */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.block {
  display: flex;
  margin-top: 140px;
  flex-direction: row; 
  gap: 20px; 
}

.search {
  margin-right: 0px !important; 
  margin-top: -50px;
}

.search-input {
  padding: 8px; 
  border: 1px solid black; 
  border-radius: 4px; 
}

.searchh{
  width: 350px;
  height: 40px;
  margin-left: 0px !important
}