
.menuu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: fixed;
  margin-left: -30px;

}

.headings {
  font-size: 29px;
color: white;  margin-bottom: 20px;
margin-bottom: 0px;
margin-left: 30px;
}

/* Centering the image and heading */
.menuu center {
  margin-bottom: 20px;
}

/* Styling for the list items */
.menuuu {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white; /* Dark grey color */
  margin: 10px 0;
  margin-left: 50px;

  padding: 10px 20px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuuu:hover {
  color: white; /* White text color on hover */
  background-color: #384256;
}

/* Icon styling */
.menuuu svg {
  margin-right: 10px;
  font-size: 26px;
}

/* Styling for the text next to the icon */
.listItemTitlee {
  font-size: 19px;
  margin: 0px;
  font-weight: bolder;

}
.menuu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px; /* Adjust as needed */

}

.scrollableMenu {
  max-height: 400px; /* Set max height */
  overflow-y: auto; /* Enable vertical scrolling */
  width: 300px; /* Make it full width */
}

/* For WebKit browsers (Chrome, Safari) */
.scrollableMenu::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

.scrollableMenu::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */

}

.scrollableMenu::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
  border-radius: 5px; /* Optional: rounded corners */

}

.scrollableMenu::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}

/* For Firefox */
.scrollableMenu {
  scrollbar-width: thin; /* Thin scrollbar */
  
  scrollbar-color: #888 #f1f1f1; /* thumb color and track color */
}
.headd{
  font-size: 40px;
  color: white;  margin-bottom: 20px;
  margin-bottom: 0px;
}