
.menuu {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  position: fixed;
  margin-left: -40px;

}

.headings {
  font-size: 20px;
color: white;  margin-bottom: 15px;
margin-bottom: 0px;
margin-left: 20px;
}


/* Styling for the list items */
.menuuu {
  text-decoration: none;
  color: white; 
  margin: 10px 0;
display: flex;
  padding: 10px ;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuuu:hover {
  color: white; 
  background-color: #384256;
}

/* Icon styling */
.menuuu svg {
  margin-right: 10px;
  font-size: 26px;
}

/* Styling for the text next to the icon */
.listItemTitlee {
  font-size: 19px;
  margin: 0px;
  font-weight: bolder;
}
.menuu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px; 

}

.scrollableMenu {
  max-height: 470px;
  overflow-y: auto; 
  width: 270px;
}

.scrollableMenu::-webkit-scrollbar {
  width: 5px; 
}

.scrollableMenu::-webkit-scrollbar-track {
  background: #f1f1f1; 

}

.scrollableMenu::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px; 

}

.scrollableMenu::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* For Firefox */
.scrollableMenu {
  scrollbar-width: thin; 
  
  scrollbar-color: #888 #f1f1f1; 
}
.headd{
  font-size: 31px;
  color: white;  margin-bottom: 10px;
  margin-bottom: 0px;
}

.hr{
  background-color: white;
  margin-left: 13px;
}

