input{
  width: 645px;
  height: 50px;
}

.mar
{
  margin-top: 10px;
}

.button{
  margin-left: 440px;
}

.color{
  background-color: white;
  color: black;
}
.icon{
  color: red;
  font-size: 30px;
}
  .icon1{
    color: rgb(59, 240, 59);
    font-size: 25px;

  }

  /* .modal-set{
    margin-top: 500px !important;
    margin-left: 800px;
    padding: 15px;
    padding-bottom: 25px;
  } */
  .modal-set {
    margin-top: 400px !important;
    margin-left: 800px;
    padding: 15px;
    padding-bottom: 25px;
    width: 680px !important;
    max-height: 500px; /* Limit height to trigger scrolling */
    overflow-y: auto;  /* Enable vertical scrollbar if content exceeds height */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}





  @media  (min-width: 1440px) {
    .modal-set{
      margin-top: 350px;
      padding-bottom: 0px;

    }
    
  } 
  .search{
    color: black;
  }
  .search-input{
    width: 300px;
    margin-top: -70px !important;
  }

  .lkk {
    position: fixed;
    bottom: 0;
    /* left: 50;
    width: 1255px;
    height: auto;  */
    left: 0;
    height: 40px; 
  }
  .logout-btn{
    background-color: red;  color: white;
      border-radius: 10px;
      width: 60px;
      height: 40px;
      margin-top: 8px;
      position: absolute;
      padding: 0px;
      margin-left: 1150px;
      
      font-size: 20px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
 
  .header-container {
    position: fixed;
    top: 0 !important;
    background-color: white; /* Keep the background to avoid content overlap */
    z-index: 100; /* Ensure it stays above other content */
    width: 100%;
  }
  
  .search-input {
    margin-left: 10px;
  }
  

  .user-head{
    width: 100% !important;
  }
  