h2{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  background-color:#2a3447;
margin-top: -27px;
margin-bottom: 40px;
padding-top: 16px;
padding-bottom: 15px;
width: 1255px;

}

.fix{
  position: fixed;
}



.load{
  font-size: 30px;
  color: black;
}
.icon{
  color: red;
}
  .icon1{
    color: rgb(59, 240, 59);
  }

.role{
  margin-left: -50px !important;
}
  
table {
  border-collapse: collapse;
  width: 100%;
}

table,th,tr,td {
  border: 1px solid black;
  border-collapse: collapse;

}


th, td {
  padding: 8px;
  text-align: left;
  height: 50px;
  border-collapse: collapse;
  color: black;
  font-weight: bold;

}
.pagination{
  float: right;
  margin-left: 0px !important;
}

th {
  background-color:#2a3447;
  text-align: center;
  font-size: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* tr:nth-child(even) {
  background-color:rgb(33, 87, 167);

} */

button{
  margin-top: 10px;
}
.button1{
  background-color: red;
}
.button2{
  background-color: rgb(40, 187, 40);
}
.field{
  border: 2px solid black;
}
.btun{
width: 70px;
height: 50px;
font-size: 18px;
margin-bottom: 15px;
background-color: #2a3447;
margin-left: 700px;
}
.modal-content{
  position: relative;
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    margin-top: 100px;

    width: 100%;
}
.search-label{
  margin-left: 10px;
}
.fonts
{
  font-size: 20px;
  font-weight:700 ;
  margin-top: 20px;
  color: white;
}
.dep{
  background-color: #2a3447;
  color: white;
}

.s{
  background-color: black;
}
.modall{
margin-top: 400px;
margin-left: 800px;
padding: 20px;}


.inputt{
width: 450px;
}

.buton{
margin-left: 300px;
}
.buttonn{
  margin-left: 60px;
}

.small{
  width: 190px;
  height: 45px;
  margin-top:5px;
}
  .labell{
    color: black;
  }

.margin{
  margin-top: 5px;
}
.buton1{
  margin-left: 200px;
  }
  .buttonn1{
    margin-left: 60px;
  }
  
.field{
  background-color: #2a3447;

}
.header-top{
  margin-top: -20px;
}

.btton{
  width: 70px;
  margin-bottom: 15px;
  background-color: #2a3447;
  margin-left: 630px;
  }

  .search-inputs{
    width: 320px;
  }

  .modal-scroll {
    max-height: 500px; /* Set a max height for the scrollable area */
    overflow-x: auto; /* Enable vertical scrolling */
    scrollbar-width: thin; /* Thin scrollbar for Firefox */
    scrollbar-color: #888 #f1f1f1; /* Thumb color and track color for Firefox */
  }
  
  /* For WebKit browsers (Chrome, Safari) */
  .modal-scroll::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  .modal-scroll::-webkit-scrollbar-track {
    background: black; /* Background of the scrollbar track */
  }
  
  .modal-scroll::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 5px; /* Rounded corners */
  }
  
  .modal-scroll::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
  }
  
  .modal-seet{
    margin-left: 800px;
    margin-top: 400px;
    width: 750px;
  }
