
.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
  width: 1100px;
  margin-left: 50px;
}

.input-wrappers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
  width: 1100px;
}
.input-cont {
  flex: 1; 
  min-width: 100px;
  color: black;
  background-color: white;
}

.users {
  color: black;
margin-top: -10px;}


.input-checkbox{
  width: 30px;
}
.marginn{
  margin-left: 100px;
}

.top{
  margin-top: -10px;
}

.dropdown-cont{
  width:390px !important;
  border: 1px solid black !important;
}