.input-checkbox{
  width: 30px;
}

.input-cont{
  width: 200px;
  margin-left: 20px;
  margin-right: 30px;
}
.cont{
  margin-bottom:40px;
}
.dropdown-cont{
  width: 300px;
  height: 10px;
  color: black;
  background-color: white;
  margin-left: 20px;
}

.user{
  margin-left: 20px;
  color: white;
}
.top{
margin-top: 0px;
}
.datetime{
  background-color: black;
}