@import "./variables.scss";


.mainn{
font-family: "Inter" ,sans-serif;
background-color: $home-bg;
color: white;
width: 2000px;

}
.containerr{
  display: flex;
}

.menucontainerr{
  width: 250px;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg ;
  height:  720px;
  background-color: $main-bg;
}

.contentcontainerr{
width: 100%;
}




@media  (min-width: 1440px) {
  .mainn{
width: 100%;
  }
} 